<div class="hbox hbox-auto-xs hbox-auto-sm">
  <!-- main -->
  <div class="col">
    <!-- notifications -->
    <div class="wrapper-md">
      <div id="notification" class="col-lg-12">
        <div class="alert bg-{{notificationClass}} animated notification"
             ng-class="{'show fadeInUp': alertShown, 'fadeOutDown': !alertShown}" role="alert">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          <span class="fa fa-close pull-right" aria-hidden="true" ng-click="toggleAlert()"></span>
          <span class="sr-only">{{notificationType}}:</span>
          {{notificationMessage}}
        </div>
      </div>
    </div>
    <!-- / notifications -->
    <div class="wrapper-md">
      <!-- service -->
      <div class="panel hbox hbox-auto-xs no-border">
        <div class="col wrapper-lg w-lg">
          <button class="btn btn-default btn-xs pull-right" ng-class="accountStatus.btnColor"
                  ng-click="checkAccountAvailability()">
            <i class="fa"
               ng-class="accountStatus.btnIcon"></i>
            {{accountStatus.state}} <i class="fa fa-circle-o-notch fa-spin"
                                       ng-show="accountStatusLoading"></i></button>
          <h4 class="font-thin m-t-none m-b-none text-primary-lt">{{captions.supportTools}}</h4>

          <span class="m-b block text-sm text-muted"></span>

          <div class="form-group">
            <div class="row">
              <label class="col-lg-2 control-label">Domain</label>

              <div class="col-lg-10">
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                          aria-expanded="false">
                    {{defaultServerName}} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="domain in domains"><a href="" ng-click="setActiveDomain(domain.url)">[{{domain.name}}]
                      {{domain.url}}</a>
                    </li>
                  </ul>
                </div>

              </div>

            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <label class="col-lg-2 control-label">Account</label>

              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="Account" ng-model="account"
                       ng-blur="pollAccountAvailability()">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <label class="col-lg-2 control-label">User ID</label>

              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="User Id" ng-model="livepersonUsername">
              </div>


            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <label class="col-lg-2 control-label">Password</label>

              <div class="col-lg-10">
                <input type="password" class="form-control" placeholder="Password" ng-model="livepersonPassword">
              </div>

              <div class="col-lg-8"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <label class="col-lg-2 control-label"></label>

              <div class="col-lg-10">
                <button class="btn btn-default btn-xs" ui-toggle-class="show" data-toggle="collapse"
                        data-target="#extendedTools" aria-expanded="false"
                        aria-controls="extendedTools" ng-click="toggleAdvancedTools()">
                  <div ng-show="showAdvancedTools!=='true'"><i class="fa fa-plus text"></i>
                    <span class="text">{{captions.more}}</span></div>
                  <div ng-show="showAdvancedTools==='true'"><i class="fa fa-minus"></i>
                    <span class="text">{{captions.less}}</span></div>
                </button>
              </div>
            </div>
          </div>

          <div class="collapse" id="extendedTools" ng-class="showAdvancedTools==='true'? 'in' : ''">
            <div class="form-group">
              <div class="row">
                <label class="col-lg-2 control-label">Skill</label>

                <div class="col-lg-10">
                  <input type="text" class="form-control" placeholder="Skill Name" ng-model="skill">
                </div>

              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="col-lg-2 control-label">Operator</label>

                <div class="col-lg-10">
                  <input type="text" class="form-control" placeholder="Operator Name" ng-model="operator">
                </div>

              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="col-lg-2 control-label">Ticket</label>

                <div class="col-lg-10">
                  <input type="text" class="form-control" placeholder="Ticket" ng-model="ticket">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <label class="col-lg-2 control-label">App Key</label>

                <div class="col-lg-10">
                  <input type="text" class="form-control" placeholder="App Key" ng-model="appKey">
                </div>

              </div>
            </div>
            <!--<div class="form-group">-->
            <!--<div class="row">-->
            <!--<label class="col-lg-2 control-label">Image Folder</label>-->

            <!--<div class="col-lg-10">-->
            <!--<input type="url" class="form-control" placeholder="Image Folder" ng-model="customImagesFolder"-->
            <!--ng-blur="checkCustomImages(customImagesFolder)">-->
            <!--</div>-->


            <!--</div>-->
            <!--</div>-->
          </div>


          <div class="row">
            <div class="col-lg-6">
              <h4 class="font-thin m-t-none m-b-none text-primary-lt">{{captions.serverInfo}}</h4>
              <iframe ng-src="{{iframeSrc}}" id="serverVersionIframe"></iframe>
            </div>
            <h4 class="font-thin m-t-none m-b-none text-primary-lt">{{captions.accountInfo}}</h4>

            <div class="col-lg-6">
              <loader ng-if="loaderAccountInfo"></loader>
              <p class="font-thin m-t-none m-b-none"></p>
            </div>
            <div class="col-lg-6 salesforceInfo">
              <p ng-if="!accountInfo.salesforceInfo && !loaderAccountInfo">{{captions.noAccountInfo}}</p>

              <p ng-repeat="item in accountInfo.salesforceInfo" class="font-thin m-t-none m-b-none">
                {{item.name}} - {{item.oem}}</p>
            </div>
          </div>


          <div class="row">
            <h4 class="font-thin m-t-none m-b-none text-primary-lt">{{captions.accountHotNews}}</h4>
            <loader ng-if="loaderHotNews"></loader>
            <div class="col-lg-12 m-t-none m-b-none hot-news-scroll">
              <p ng-if="!accountInfo.hotNews && !loaderHotNews">{{captions.noHotNews}}</p>
              <ul ng-repeat="item in accountInfo.hotNews" class="font-thin m-t-none m-b-none salesforceInfo">
                <li>
                  <p ng-bind="item.title" class="title"></p>

                  <p ng-bind="item.account"></p>

                  <p ng-bind="item.expired"></p>

                  <p ng-bind-html="item.msg"></p>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div class="col wrapper-lg w-lg bg-light dk r-r account-tools">

          <a href="" class="fa fa-question-circle pull-right shortcuts-tooltip" ng-click="toggleCheatSheet()"></a>

          <div class="input-group">
            <input type="text" class="form-control input-sm btn-rounded" placeholder="{{captions.filterFunctions}}"
                   ng-model="query">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default btn-sm btn-rounded"><i class="fa fa-search"></i></button>
            </span>
          </div>
          <div class="button-container"><div class="flex-container" ng-repeat="group in groupedFunctions | filter:query:strict">
            <span class="btn btn-support title btn-dark">{{group.groupName}}</span>
            <button class="btn btn-default btn-sm btn-support flex-item" ng-click="invokeFunction(function.url)" ng-repeat="function in group.functions | filter:query:strict">
              <i class="{{function.icon}} text"></i>
              <span class="text">{{function.name}}</span>
            </button>
          </div></div>

        </div>
      </div>
      <!-- / service -->
    </div>
  </div>
  <!-- / main -->
  <!-- right col -->
  <div class="col w-md b-l bg-auto bg-dark no-border-xs">
    <div class="nav-tabs-alt">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#history" data-toggle="tab" aria-expanded="true"><i
          class="glyphicon glyphicon-time text-md text-muted wrapper-sm"></i></a></li>
        <li class=""><a href="#favorites" data-toggle="tab" aria-expanded="false"><i
          class="glyphicon glyphicon-star text-md text-muted wrapper-sm"></i></a></li>
        <li class=""><a href="#activity" data-toggle="tab" aria-expanded="false"><i
          class="glyphicon glyphicon-lock text-md text-muted wrapper-sm"></i></a></li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane" id="favorites">
        <div class="wrapper-md">
          <div class="m-b-sm text-md">{{captions.favoriteAccounts}}</div>
          <ul class="list-group list-group-sm list-group-sp list-group-alt auto m-t">
            <div class="m-b" ng-repeat="item in cookies.favorites track by $index| orderBy:'timeUsed':true">
             <span class="pull-right text-default fa fa-copy clickable" clip-copy="item.account"
                   clip-click="showAlert('info','Notice', captions.copiedToClipboard+' '+item.account)"></span>
              <span class="clickable text-warning"
                    ng-click="setAsAccount(item)"> {{item.account}} </span>
            </div>

            <p class="text-muted" ng-if="cookies.favorites.length===0">{{captions.emptyFavorites}}</p>


          </ul>
        </div>
      </div>
      <div class="tab-pane active" id="history">

        <div class="wrapper-md">
          <div class="m-b-sm text-md">{{captions.recentAccounts}}</div>
          <ul class="list-group list-group-sm list-group-sp list-group-alt auto m-t">
            <p class="text-muted" ng-if="cookies.history.length===0">{{captions.emptyHistory}}</p>

            <div class="m-b" ng-repeat="item in cookies.history track by $index| orderBy:'timeUsed':true">
              <span class="pull-right text-default icon-close clickable" ng-click="removeFromHistory(item)"></span>
             <span class="pull-right text-default fa fa-copy clickable" clip-copy="item.account"
                   clip-click="showAlert('info','Notice', captions.copiedToClipboard+' '+item.account)"></span>
              <span class="clickable text-info" ng-click="setAsAccount(item)"> {{item.account}} </span>
            </div>
          </ul>
        </div>
      </div>
      <!--activity -->
      <div class="tab-pane" id="activity">

        <div class="wrapper-md">
          <div class="m-b-sm text-md">{{captions.lpaAccounts}}</div>
          <ul class="list-group list-group-sm list-group-sp list-group-alt auto m-t">
            <div class="m-b" ng-repeat="item in lpaAccounts track by $index| orderBy:'timeUsed':true">
             <span class="pull-right text-default fa fa-copy clickable" clip-copy="item.account"
                   clip-click="showAlert('info','Notice', captions.copiedToClipboard+' '+item.account)"></span>
              <span class="clickable text-success" ng-click="setAsAccount(item)"> {{item.account}} </span>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / right col -->

